@CHARSET "UTF-8";

/* 
#33282c - dark brown
#5a4c3f - dark tan
#e1cb91 - gold
#a27264 - taupe
#07040d - deep purple
#b8a49b - beige
#f9f0e7 - light beige

background: #f9f0e7;
background-image: url("zenbg-1.png"), url("zenbg-2.png");
background-repeat: repeat-x, repeat;
 */
.adblock {
	width: auto !important;
	margin: 50px -30px -40px !important;
	padding: 20px !important;
	overflow: hidden; /* clearfix */
	height: auto !important;
	font-size: 13px !important;
	line-height: 16px !important;
	text-align: left;
	background: #a27264 !important;
	border: 0 !important;
	box-shadow: inset 0 3px 5px rgba(0, 0, 0, .075);
}

.adblock-img {
	float: left;
	margin: 0 !important;
}

.adblock-text,.adblock-tag {
	float: none !important;
	display: block !important;
	width: auto !important;
	height: auto !important;
	margin-left: 125px !important;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

.adblock-text {
	padding-top: 0 !important;
}

.adblock-tag {
	color: #e1cb91 !important;
	text-align: left !important;
}

.adblock-text a,.adblock-tag a {
	color: #f9f0e7 !important;
}

@media screen and (min-width: 768px) {
	.adblock {
		margin: 0 !important;
		border-radius: 4px;
		box-shadow: inset 0 3px 5px rgba(0, 0, 0, .075), 0 1px 0
			rgba(255, 255, 255, .1);
	}
}

@media screen and (min-width: 992px) {
	.adblock {
		position: absolute;
		top: 20px;
		right: 0;
		padding: 15px !important;
		width: 330px !important;
		min-height: 132px;
	}
}