@CHARSET "UTF-8";

/* 
#33282c - dark brown
#5a4c3f - dark tan
#e1cb91 - gold
#a27264 - taupe
#07040d - deep purple
#b8a49b - beige
#f9f0e7 - light beige

background: #f9f0e7;
background-image: url("zenbg-1.png"), url("zenbg-2.png");
background-repeat: repeat-x, repeat;
 */


.navbar-custom {
  background-color: #33282c;
  border-color: #20191c;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#503e45), to(#33282c));
  background-image: -webkit-linear-gradient(top, #503e45, 0%, #33282c, 100%);
  background-image: -moz-linear-gradient(top, #503e45 0%, #33282c 100%);
  background-image: linear-gradient(to bottom, #503e45 0%, #33282c 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff503e45', endColorstr='#ff33282c', GradientType=0);
}
.navbar-custom .navbar-brand {
  color: #f9f0e7;
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus {
  color: #efd7be;
  background-color: transparent;
}
.navbar-custom .navbar-text {
  color: #f9f0e7;
}
.navbar-custom .navbar-nav > li:last-child > a {
  border-right: 1px solid #20191c;
}
.navbar-custom .navbar-nav > li > a {
  color: #f9f0e7;
  border-left: 1px solid #20191c;
}
.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
  color: #a27264;
  background-color: transparent;
}
.navbar-custom .navbar-nav > .active > a,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
  color: #a27264;
  background-color: #20191c;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#20191c), to(#3d3035));
  background-image: -webkit-linear-gradient(top, #20191c, 0%, #3d3035, 100%);
  background-image: -moz-linear-gradient(top, #20191c 0%, #3d3035 100%);
  background-image: linear-gradient(to bottom, #20191c 0%, #3d3035 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff20191c', endColorstr='#ff3d3035', GradientType=0);
}
.navbar-custom .navbar-nav > .disabled > a,
.navbar-custom .navbar-nav > .disabled > a:hover,
.navbar-custom .navbar-nav > .disabled > a:focus {
  color: #cccccc;
  background-color: transparent;
}
.navbar-custom .navbar-toggle {
  border-color: #dddddd;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background-color: #dddddd;
}
.navbar-custom .navbar-toggle .icon-bar {
  background-color: #cccccc;
}
.navbar-custom .navbar-collapse,
.navbar-custom .navbar-form {
  border-color: #1f181b;
}
.navbar-custom .navbar-nav > .dropdown > a:hover .caret,
.navbar-custom .navbar-nav > .dropdown > a:focus .caret {
  border-top-color: #a27264;
  border-bottom-color: #a27264;
}
.navbar-custom .navbar-nav > .open > a,
.navbar-custom .navbar-nav > .open > a:hover,
.navbar-custom .navbar-nav > .open > a:focus {
  background-color: #20191c;
  color: #a27264;
}
.navbar-custom .navbar-nav > .open > a .caret,
.navbar-custom .navbar-nav > .open > a:hover .caret,
.navbar-custom .navbar-nav > .open > a:focus .caret {
  border-top-color: #a27264;
  border-bottom-color: #a27264;
}
.navbar-custom .navbar-nav > .dropdown > a .caret {
  border-top-color: #f9f0e7;
  border-bottom-color: #f9f0e7;
}
@media (max-width: 767) {
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a {
    color: #f9f0e7;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #a27264;
    background-color: transparent;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #a27264;
    background-color: #20191c;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #cccccc;
    background-color: transparent;
  }
}
.navbar-custom .navbar-link {
  color: #f9f0e7;
}
.navbar-custom .navbar-link:hover {
  color: #a27264;
}