{
  "Installation": {
    "Vhost": {
      "Server": {
        "Prefix": "www.",
        "Domain": "oakensoul",
        "Suffix": ".com"
      },
      "Path": "/etc/apache2/sites-available/"
    }
  }
}